{
    "n_epochs": 300,
    "init_lr": 0.1,
    "lr_schedule_type": "cosine",
    "lr_schedule_param": null,
    "dataset": "cifar10",
    "train_batch_size": 64,
    "test_batch_size": 200,
    "valid_size": null,
    "drop_last": true,
    "use_cutout": false,
    "cutout_n_holes": 1,
    "cutout_size": 16,
    "opt_type": "sgd",
    "opt_param": {
        "momentum": 0.9,
        "nesterov": true
    },
    "weight_decay": 0.0001,
    "model_init": "he_fout",
    "init_div_groups": true,
    "validation_frequency": 1,
    "renew_logs": false,
    "print_frequency": 70
}